<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/admin-header") %>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- sidebar -->
        <%- include("../partials/admin-sidebar") %>
        <!-- /sidebar -->

        <!-- top navigation -->
        <%- include("../partials/admin-navbar") %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="x_panel">
            <div class="">
              <h2>Quản lý khách hàng</h2>
            </div>

            <div class="h_content">
              <div class="form-group form-inline">
                <div class="col-sm-4">
                  <input type="text" name="" class="form-control left" id="search-text" placeholder="Tên khách hàng" />
                </div>
                <div class="col-sm-4">
                  <button id="search_btn" type="button" class="btn btn-primary left">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12">
              <table class="table_e text-center" >
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tên khách hàng</th>
                    <th>Email</th>
                    <th>Trạng thái</th> 
                    <th>Chi tiết</th>                    
                  </tr>
                </thead>
                <tbody>
                  <%if (user.role_id===2) {
                  for(var i = 0; i < customers.length; i++) { %>
                  <tr >
                    <td style="padding: 10px 0;"><%- i + 1 %></td>
                    <td>
                      <div><%- customers[i].full_name %></div>
                    </td>
                    <td>
                      <div><%- customers[i].email %></div>
                    </td>                    
                    <td class="text-center">
                        
                      <button type="button" class="js-add-de" data-toggle="modal" data-target="#detailform1_<%-  i+1 %>">
                        <i class="fa fa-eye"></i>
                      </button>
                    
                  </td> 
                    <td>
                      <% if (customers[i].active===true){ %>
                        <button class="active-btn " style="
                          background-color: aqua; 
                          border-radius: 5px; border: 1px solid #ccc; 
                          padding: 5px ; opacity: 0.5;">Active</button>
                        <button class="block-btn " style="
                          background-color: red; 
                          border-radius: 5px; 
                          border: 1px solid #ccc; 
                          padding: 5px ;" 
                          onclick="blockOrActive('<%- customers[i]._id %>', '<%- customers[i].full_name %>','block')"
                          >Block</button>
                      <% } else { %>
                        <button class="active-btn "style="
                          background-color: aqua; 
                          border-radius: 5px; 
                          border: 1px solid #ccc; 
                          padding: 5px ;"  
                          onclick="blockOrActive('<%- customers[i]._id %>', '<%- customers[i].full_name %>','active')"
                          >Active</button>
                        <button class="block-btn" style="
                          background-color: red; 
                          border-radius: 5px; 
                          border: 1px solid #ccc; 
                          padding: 5px ; opacity: 0.5;">Block</button>
                      <%} %>
                     
                    </td>
                    
                  </tr>
                  <% }} else if (user.role_id===1){ 
                   customers.forEach((customer,index)=>{ %>
                    <tr id="file">
                      <td><%- index+1 %></td>
                      <td><a href="#"><%- customer.full_name %></a></td>
                      <td><%- customer.email %></td>
                      <% if (customer.active ) { %>
                        <td>active</td>
                      <% } else{ %>
                        <td>block</td>
                      <%}%>
                      <td class="text-center">
                        
                          <button type="button" class="js-add-de" data-toggle="modal" data-target="#detailform1_<%-  index+1 %>">
                            <i class="fa fa-eye"></i>
                          </button>
                        
                      </td>                      
                      
                    </tr>
                  <% })} %> 
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- /page content -->
        <!--modal detail-->
        <% customers.forEach((customer,index)=>{ %>
        <div id="detailform1_<%-  index+1 %>" class="modal fade js-modal1">
          <div class="modal-dialog">
            <div class="modal-content js-modal-content1">
              <div class="modal-header">
                <button type="button" class="close js-modal-close1">
                  <span> X </span>
                </button>
              </div>
              <div class="modal-body form-horizontal">
                <h1 class="text-center">Chi tiết khách hàng</h1>
                <div class="row">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">Mã khách hàng</th>
                        <td><%- customer._id %></td>
                      </tr>
                      <tr>
                        <th class="text-center">Tên khách hàng</th>
                        <td><%- customer.full_name %></td>
                      </tr>
                      <tr>
                        <th class="text-center">Email</th>
                        <td><%- customer.email %></td>
                      </tr>
                      <%- customer.phone%>
                      <tr>
                        <th class="text-center">Số điện thoại</th>
                        <td><%- customer.phone %></td>
                      </tr>
                      <tr>
                        <th class="text-center">Địa chỉ</th>
                        <td><%- customer.address %></td>
                      </tr>
                      <tr>
                        <th class="text-center">Số lượng sản phẩm đã mua</th>
                        <td><%- customer.products.length %></td>
                      </tr>
                      
                      <tr>
                        <th class="text-center">Ngày tham gia</th>
                        <td><%-new Date(customer.createdAt).getDate() %>/<%-new Date(customer.createdAt).getMonth() +1 %>/<%-new Date(customer.createdAt).getFullYear() %></td>
                      </tr>
                      
                    </thead>
                   
                  </table>
                </div>                  
              </div>

              <div class="modal-footer">
                <button class="btn btn-default close" 
                style="
                color: #000;
                background-color: #e4dfe0;
                opacity: 1;
                padding: 10px;">Thoát</button>
              </div>
            </div>
          </div>
        </div>
      <%}) %>
      
      <!--/modal detail-->
        
        <!-- footer content -->
        <%- include("../partials/admin-footer") %>
        <!-- /footer content -->
      </div>
    </div>

    <%- include("../partials/admin-scripts") %>
    <script>
      const detailBtns=document.querySelectorAll(".js-add-de");
      const closeBtns=document.querySelectorAll(".close");
      const role='<%- user.role_id %>';
      async function blockOrActive(userId,userName,mes){
        const agree=confirm(`Bạn chắc chắn muốn ${mes} đối với ${userName}`);
        if (agree){
          const res=await fetch(`/admin/manage/${userId}?m=${mes}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },          
          });
          const data= await res.json();
          if (data==='done'){
            location.reload();
          }
        }
      }
      const searchBtn=document.querySelector("#search_btn");
      searchBtn.onclick=()=>{
        const search=document.querySelector("#search-text").value;
        if (role==='2')
          location.href=`/admin/customers?search=${search}`;
        else if (role==='1')
        location.href=`/employee?search=${search}`;
      }
      detailBtns.forEach((detailBtn,index)=>{
        const detailModal=document.querySelector(`#detailform1_${index+1}`);
        detailBtn.onclick=()=>{
          detailModal.classList.add('in');
        }
      })
      // Handle close btn in modal
     closeBtns.forEach(closeBtn=>{
       closeBtn.onclick=()=>{
         const modal=document.querySelector(".modal.show.in");
         modal.classList.remove("show");
         modal.classList.remove("in");
       }
     })  

        
    </script>

  </body>
</html>
