<!DOCTYPE html>
<html lang="en">

<%- include("../partials/admin-header") %>

<body class="nav-md">
    <div class="container body">
        
        <!-- sidebar -->
        <%- include("../partials/admin-sidebar") %>
        <!-- /sidebar -->

        <!-- top navigation -->
        <%- include("../partials/admin-navbar") %>
        <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="x_panel">
                    <div class="">

                        <h2>Quản lý sản phẩm</h2>
                    </div>

                    <div class="h_content ">

                        <div class="form-group form-inline">
                            <div class="col-sm-9">
                                <button id="search_btn" type="button" class="btn btn-primary right">
                                    <i class="fa fa-search"></i>
                                </button>
                                <select name="" id="category" class="right form-control">
                                    <option value="">Danh mục</option>
                                    <% brands.forEach(brand=>{ %>
                                        <option value="<%- brand %>"><%- brand %></option>
                                    <%})%>
                                </select>
                                <div class="col-sm-7"><input type="text" name="" class="form-control right " id="search-text" placeholder="Tên sản phẩm"></div>
                            </div>


                            <div class="col-sm-3">
                                <a href="/admin/new-product">
                                
                                    <button type="button" class="btn btn-primary left js-add-em"> 
                                    
                                            <i class="fa fa-pencil-alt"></i>
                                            Thêm mới
                                    </button>
                                </a>
                            </div>

                        </div>


                    </div>

                    <div class="col-md-12 col-sm-12 ">
                        <table class="table_e text-center">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Dòng sản phẩm</th>
                                    <th>Giá nhập</th>
                                    <th>Màu sắc</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < products.length; i++) { %>
                                <tr>
                                  <td style="padding: 10px 0;">
                                    <div><%- i + 1 %></div>
                                  </td>
                                  <td>
                                    <div><%- products[i].name %></div>
                                  </td>
                                  <td>
                                    <div><%- products[i].brand %></div>
                                  </td>
                                  <td>
                                    <div><%- products[i].price %></div>
                                  </td>
                                  <td>
                                    <div><%- products[i].color %></div>
                                  </td>
                                  <td class="text-center">
                                    <button type="button" class="js-add-de" onclick="location.href='/<%- products[i].slug %>'">
                                      <i class="fa fa-eye"></i>
                                    </button>     
                                  </td>
                                </tr>
                                <% } %>
                              </tbody>
                        </table>
                        <div class="loadmore" style="float: right;" onclick="getProduct()">
                            <button class="loadmore-btn">XEM THÊM</button>
                        </div>
                    </div>

                </div>

            </div>

            <!-- /page content -->

            

            <!-- footer content -->
            <%- include("../partials/admin-footer") %>
            <!-- /footer content -->

        </div>
    </div>
    <%- include("../partials/admin-scripts") %>

    <script>
        const table=document.querySelector('.table_e tbody');
        const loadmoreBtn=document.querySelector('.loadmore');
        const searchBtn=document.querySelector("#search_btn");
        let startFrom=0;
        let html='';
        async function getProduct(){
            const limit = 6;
            const url = window.location.href;
            const init = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({ startFrom,limit }),
            };
            try {
                const res=await fetch(url,init);
                const data= await res.json();
                let index=startFrom;
                const result=data.products.map((product)=>{                    
                return `
                    <tr>
                        <td style="padding: 10px 0;">
                        <div>${++index}</div>
                        </td>
                        <td>
                        <div>${product.name}</div>
                        </td>
                        <td>
                        <div>${product.brand}</div>
                        </td>
                        <td>
                        <div>${product.price}</div>
                        </td>
                        <td>
                        <div>${product.color}</div>
                        </td>
                        <td class="text-center">
                        <button type="button" class="js-add-de" onclick="location.href='/${product.slug}'">
                            <i class="fa fa-eye"></i>
                        </button>
                        </td>
                    </tr>
                `
                });
                html+=result.join(' ');
                table.innerHTML=html;
                if (data.end===true){
                    loadmoreBtn.style.display="none";
                }
                startFrom+=limit;

            } catch (error) {
            console.log(error)
            }

        }
        searchBtn.onclick=()=>{
            const search=document.querySelector("#search-text").value; 
            const category=document.querySelector("select#category")  ;
            const select=category.options[category.selectedIndex].value;    
            location.href=`/admin/manage-products?search=${search}&c=${select}`;
            startFrom=0;
            getProduct();
        }
        getProduct();
    </script>

    
</body>

</html>