<!DOCTYPE html>
<html lang="en">
  <%- include("partials/admin-header") %>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- sidebar -->
        <%- include("partials/admin-sidebar") %>
        <!-- /sidebar -->

        <!-- top navigation -->
        <%- include("partials/admin-navbar") %>
        <!-- /top navigation -->

        <!-- footer content -->
        <%- include("partials/admin-footer") %>
        <!-- /footer content -->
      </div>
    </div>

    <%- include("partials/admin-scripts") %>
    <script>
      const pro = document.querySelector(".js-pro");
      const nav = document.querySelector(".js-nav");

      function showPro() {
        nav.classList.add("open");
      }
      pro.addEventListener("click", showPro);
    </script>
  </body>
</html>
