<!DOCTYPE html>
<html lang="en">
  <%- include("partials/admin-header") %>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- sidebar -->
        <%- include("partials/admin-sidebar") %>
        <!-- /sidebar -->

        <!-- top navigation -->
        <%- include("partials/admin-navbar") %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="x_panel">
            <div class="">
              <h2>Quản lý nhân viên</h2>
            </div>

            <div class="h_content">
              <div class="form-group form-inline">
                <div class="col-sm-4">
                  <input type="text" name="" class="form-control left" id="search-text" placeholder="ID/Tên nhân viên" />
                </div>
                <div class="col-sm-4">
                  <button id="search_btn" type="button" class="btn btn-primary left">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                <div class="col-sm-4">
                  <a href="/admin/manage-employees">
                    <button type="button" class="btn btn-primary left js-add-em">
                      <i class="fa fa-pencil-alt"></i>
                      Thêm mới
                    </button>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12">
              <table class="table_e text-center">
                <thead>
                  <tr >
                    <th>STT</th>
                    <th>Tên nhân viên</th>
                    <th>Email</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0; i < employees.length; i++) { %>
                  <tr>
                    <td style="padding: 10px 0;"><%- i + 1 %></td>
                    <td>
                      <div><%- employees[i].full_name %></div>
                    </td>
                    <td>
                      <div><%- employees[i].email %></div>
                    </td>
                   
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <!-- /page content -->

        
    <%- include("partials/admin-scripts") %>
    <script>
      const searchBtn=document.querySelector("#search_btn");
      searchBtn.onclick=()=>{
        const search=document.querySelector("#search-text").value;
        location.href=`/admin?search=${search}`;
      }
    </script>
  </body>
</html>
