<!DOCTYPE html>
<html lang="en">
  <%- include("partials/admin-header") %>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- sidebar -->
        <%- include("partials/admin-sidebar") %>
        <!-- /sidebar -->

        <!-- top navigation -->
        <%- include("partials/admin-navbar") %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="x_panel">
            <div class="">
              <h2>Quản lý khách hàng</h2>
            </div>

            <div class="h_content">
              <div class="form-group form-inline">
                <div class="col-sm-4">
                  <input type="text" name="" class="form-control left" id="" placeholder="Mã/Tên/SĐT" />
                </div>
                <div class="col-sm-4">
                  <button id="search_btn" type="button" class="btn btn-primary left">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12">
              <table class="table_e">
                <thead>
                  <tr>
                    <th>Tên khách hàng</th>
                    <th>Email</th>
                    <th>Trạng thái</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% customers.forEach(customer=>{ %>
                  <tr>
                    <td>
                      <div><%- customer.full_name %></div>
                    </td>
                    <td>
                      <div><%- customer.email %></div>
                    </td>
                    <td></td>
                    <td>
                      <button type="button" class="right js-add-up">
                        <i class="fa fa-pencil-alt"></i>
                      </button>

                      <button type="button" class="right js-add-dele" id="btn-delete">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>

            <div class="paging">
              <ul class="pagination right">
                <li><a href="#">Trang đầu</a></li>
                <li class="active"><a href="">1</a></li>
                <li><a href="#">Trang cuối</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- /page content -->

        <!--Modal detail-->
        <div id="detailform" class="modal fade js-modal1">
          <div class="modal-dialog">
            <div class="modal-content js-modal-content1">
              <div class="modal-header">
                <button type="button" class="close js-modal-close1">
                  <span>x</span>
                </button>
                <h4 class="modal-title">Thông tin chi tiết</h4>
              </div>

              <form action="" id="demo2" class="form-horizontal form-label-left">
                <div class="modal-body">
                  <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <input type="hidden" name="id" value="0" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">Mã khách hàng</label>
                    <div class="col-md-7 col-xs-12">
                      <label for="" class="form-control">KH01</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">Tên khách hàng</label>
                    <div class="col-md-7 col-xs-12">
                      <label for="" class="form-control">Lê Thị Tình</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">Địa chỉ</label>
                    <div class="col-md-7 col-xs-12">
                      <label for="" class="form-control">Sen Thủy</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">SĐT</label>
                    <div class="col-md-7 col-xs-12">
                      <label for="" class="form-control">0968699534</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">Gmail</label>
                    <div class="col-md-7 col-xs-12">
                      <label for="" class="form-control">tinhle@gmail.com</label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default">Thoát</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--/modal detail-->

        <!--Modal delete-->
        <div id="deleteform" class="modal fade js-modal3">
          <div class="modal-dialog">
            <div class="modal-content js-modal-content3">
              <div class="modal-header">
                <button type="button" class="close js-modal-close3">
                  <span>x</span>
                </button>
                <h4 class="modal-title">Xóa mục này</h4>
              </div>
              <div class="modal-body">Bạn chắc chắn muốn xóa mục này chứ?</div>
              <div class="modal-footer">
                <button class="btn btn-danger">Xóa</button>
                <button class="btn btn-default js-cancel">Hủy bỏ</button>
              </div>
            </div>
          </div>
        </div>
        <!--/modal delete-->

        <!-- footer content -->
        <%- include("partials/admin-footer") %>
        <!-- /footer content -->
      </div>
    </div>

    <%- include("partials/admin-scripts") %>

    <script>
      const modal1 = document.querySelector(".js-modal1");

      const modal3 = document.querySelector(".js-modal3");

      const modalClose1 = document.querySelector(".js-modal-close1");

      const modalClose3 = document.querySelector(".js-modal-close3");

      const modalContent1 = document.querySelector(".js-modal-content1");
      const modalContent3 = document.querySelector(".js-modal-content3");

      const details = document.querySelectorAll(".js-add-de");
      const updates = document.querySelectorAll(".js-add-up");
      const deles = document.querySelectorAll(".js-add-dele");
      const cancel = document.querySelector(".js-cancel");

      function showDetail() {
        modal1.classList.add("in");
      }

      function showDelete() {
        modal3.classList.add("in");
      }

      function hiden1() {
        modal1.classList.remove("in");
      }

      function hiden3() {
        modal3.classList.remove("in");
      }

      for (const detail of details) {
        detail.addEventListener("click", showDetail);
      }

      for (const dele of deles) {
        dele.addEventListener("click", showDelete);
      }
      cancel.addEventListener("click", hiden3);
      modalClose1.addEventListener("click", hiden1);
      modalClose3.addEventListener("click", hiden3);

      modal1.addEventListener("click", hiden1);
      modalContent1.addEventListener("click", function (event) {
        event.stopPropagation();
      });

      modal3.addEventListener("click", hiden3);
      modalContent3.addEventListener("click", function (event) {
        event.stopPropagation();
      });
    </script>
  </body>
</html>
