    <%- include("partials/header") %>

    <section id="slider">
      <!--slider-->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="slider-carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#slider-carousel" data-slide-to="1"></li>
                <li data-target="#slider-carousel" data-slide-to="2"></li>
              </ol>

              <div class="carousel-inner">
                <div class="item active">
                  <div class="col-sm-6">
                    <h1><span>Wal</span>mart</h1>
                    <h2>Miễn phí giao hàng trên toàn quốc</h2>
                    <p>Ưu đãi phụ kiện/dịch vụ giảm đến 50%++</p>
                  </div>
                  <div class="col-sm-6">
                    <img src="img/home/ip134.jpg" class="girl img-responsive" alt="" />
                  </div>
                </div>
                <div class="item">
                  <div class="col-sm-6">
                    <h1><span>Wal</span>mart</h1>
                    <h2>Miễn phí giao hàng trên toàn quốc</h2>
                    <p>Ưu đãi phụ kiện/dịch vụ giảm đến 50%++</p>
                  </div>
                  <div class="col-sm-6">
                    <img src="img/home/ip132.jpg" class="girl img-responsive" alt="" />
                  </div>
                </div>

                <div class="item">
                  <div class="col-sm-6">
                    <h1><span>Wal</span>mart</h1>
                    <h2>Miễn phí giao hàng trên toàn quốc</h2>
                    <p>Ưu đãi phụ kiện/dịch vụ giảm đến 50%++</p>
                  </div>
                  <div class="col-sm-6">
                    <img src="img/home/ip133.jpg" class="girl img-responsive" alt="" />
                  </div>
                </div>
              </div>

              <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/slider-->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="left-sidebar">
              <div class="brands_products">
                <!--brands_products-->
                <h2>Hãng sản xuất</h2>
                <div class="brands-name">
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="#">Iphone</a>
                    </li>
                    <li>
                      <a href="#">Oppo</a>
                    </li>
                    <li>
                      <a href="#">Xiaomi</a>
                    </li>
                    <li>
                      <a href="#">Vivo</a>
                    </li>
                    <li>
                      <a href="#">Vsmart</a>
                    </li>
                    <li>
                      <a href="#">Samsung</a>
                    </li>
                    <li>
                      <a href="#">Nokia</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--/category-products-->

              <div class="brands_products">
                <!--brands_products-->
                <h2>Mức giá</h2>
                <div class="brands-name">
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="#">Tất cả</a>
                    </li>
                    <li>
                      <a href="#">Dưới 2 triệu</a>
                    </li>
                    <li>
                      <a href="#">Từ 2-4 triệu</a>
                    </li>
                    <li>
                      <a href="#">Từ 4-7 triệu</a>
                    </li>
                    <li>
                      <a href="#">Từ 7-13 triệu</a>
                    </li>
                    <li>
                      <a href="#">Từ 13-20 triệu</a>
                    </li>
                    <li>
                      <a href="#">Trên 20 triệu</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--/brands_products-->

              <div class="level-pin">
                <!--level-pin-->
                <h2>Dung lượng pin</h2>
                <div class="brands-name">
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="#">Tất cả</a>
                    </li>
                    <li>
                      <a href="#">Dưới 3000 mah</a>
                    </li>
                    <li>
                      <a href="#">Từ 3000-4000 mah</a>
                    </li>
                    <li>
                      <a href="#">Trên 4000mah</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--/level-pin-->
            </div>
          </div>

          <div class="col-sm-9 padding-right">
            <div class="features_items">
              <!--features_items-->
              <h2 class="title text-center">Dòng sản phẩm</h2>
              <% products.forEach(product=>{ %>
              <div class="col-sm-4">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <a href="/<%- product.slug %>">
                        <img src="<%- product.img[0] %>.jpg" alt="" />
                        <h2><%- product.price %> <sup>đ</sup></h2>
                        <p><%- product.name %> - <%- product.color %> - <%- product.storage %>GB</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>

            <!--features_items-->
            <div class="category-tab">
              <!--category-tab-->
              <div class="col-sm-12">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tshirt" data-toggle="tab">Bán chạy nhất</a></li>
                  <li><a href="#blazers" data-toggle="tab">Giá thấp</a></li>
                  <li><a href="#sunglass" data-toggle="tab">Giá cao</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <div class="tab-pane fade active in" id="tshirt">
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="blazers">
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="sunglass">
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="kids">
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="poloshirt">
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <a href=""><img src="img/home/ip131.png" alt="" /></a>
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="img/home/ip131.png" alt="" />
                          <h2>22.000.000đ</h2>
                          <p>Iphone 12</p>
                          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/category-tab-->
          </div>
        </div>
      </div>
    </section>

    <%- include("partials/footer") %>
