
    <%- include("partials/header") %>

        <section id="slider">
            <!--slider-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators" style="bottom: -40px;">
                                <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#slider-carousel" data-slide-to="1"></li>
                                <li data-target="#slider-carousel" data-slide-to="2"></li>
                            </ol>

                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-sm-6">
                                        <h1><span>Wal</span>mart</h1>
                                        <h2>Miễn phí giao hàng trên toàn quốc</h2>
                                        <p>Ưu đãi phụ kiện/dịch vụ giảm đến 50%++</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="img/home/ip134.jpg" class="girl img-responsive" alt="" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-sm-6">
                                        <h1><span>Wal</span>mart</h1>
                                        <h2>Miễn phí giao hàng trên toàn quốc</h2>
                                        <p>Ưu đãi phụ kiện/dịch vụ giảm đến 50%++</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="img/home/ip132.jpg" class="girl img-responsive" alt="" />
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="col-sm-6">
                                        <h1><span>Wal</span>mart</h1>
                                        <h2>Miễn phí giao hàng trên toàn quốc</h2>
                                        <p>Ưu đãi phụ kiện/dịch vụ giảm đến 50%++</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="img/home/ip135.jpg" class="girl img-responsive" alt="" />
                                    </div>
                                </div>
                            </div>

                            <!-- <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next" style="right: -30px;">
                                <i class="fa fa-angle-right"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/slider-->

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="left-sidebar">
                            <div class="brands_products" style="margin-bottom: 20px;">
                                <!--brands_products-->
                                <h2>Hãng sản xuất</h2>
                                <div class="brands-name">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li>
                                            <a href="/">Tất cả</a>
                                        </li>
                                      <% brands.map(brand=>{%>
                                        <li>
                                            <a href="/?c=<%- brand %>"><%- brand %></a>
                                        </li>
                                      <%})%>                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="brands_products">
                                <!--brands_products-->
                                <h2>Dung lượng</h2>
                                <div class="brands-name">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li>
                                            <a href="/">Tất cả</a>
                                        </li>
                                      <% storages.map(storage=>{%>
                                        <li>
                                            <a href="/?s=<%- storage %>"><%- storage %> GB</a>
                                        </li>
                                      <%})%>                                        
                                    </ul>
                                </div>
                            </div>
                            <!--/category-products-->
                        
                        </div>
                    </div>

                    <div class="col-sm-9 padding-right">
                        <h2 class="title text-center">Dòng sản phẩm</h2>
                        <div class="features_items">
                            <!--features_items-->
                            
                            <!-- <% products.forEach(product=>{ %>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="/<%- product.slug %>"><img src="<%- product.img[0] %>.jpg" alt="" /></a>
                                                <h2>
                                                    <%- product.price %> <sup>đ</sup></h2>
                                                <p>
                                                    <%- product.name %> -
                                                        <%- product.color %> -
                                                            <%- product.storage %>GB</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>                                   -->
                        </div>
                        <div class="loadmore " style="display: flex; justify-content: center; margin-bottom: 20px;">
                            <div class="loadmore-btn btn">
                                XEM THÊM
                            </div>                                
                        </div>

                        <!--features_items-->                 
                     
                    </div>
                </div>
            </div>
        </section>

        <%- include("partials/footer") %>
        <%- include("partials/scripts") %> 
        <script src="/js/home.js"></script>         
</body>

</html>
