    <%- include("partials/header") %>

    <section>
        <div class="container">
            <div class="row">

            
                <div class="col-sm-12 left-sidebar">
                    <div class="product-details">
                        <!--product-details-->
                        <div class="col-sm-4">
                            <div class="view-product">
                                <img src="<%- product.img[0] %>.jpg" alt=""  />
                                
                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active text-center">
                                        <a href=""><img src="<%- product.img[0] %>.jpg" alt="" style="width: 50%;" ></a>                                       
                                    </div>
                                    <div class="item text-center">
                                        <a href=""><img src="<%- product.img[1] %>.jpg" alt="" style="width: 50%;" ></a>
                                    </div>
                                    <div class="item text-center">                                      
                                        <a href=""><img src="<%- product.img[2] %>.jpg" alt="" style="width: 50%;" ></a>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left item-control" href="#similar-product" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="product-information">
                                <!--/product-information-->
                                
                                <h2><%- product.name %>-<%- product.color %>-<%- product.storage %></h2>
                                <div class="product-price" style="font-weight: bold;">
                                    <span>Giá: </span>
                                    <span>
                                        <%- product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")  %> <sup>đ</sup>
                                    </span>
                                </div>                                
                                <span style="display: inline-block;">
                                    <span> <img src="img/product-details/rating.png" alt="" /></span>
                                    <span>| <%- product.review_count %> Đánh giá</span>
                                </span>
                                <div>
                                    <button type="button" class="btn btn-fefault cart add-btn" data-id='<%- product._id %>'>
										<i class="fa fa-shopping-cart"></i>
										Thêm vào giỏ hàng
								</button>
                                </div>
                                <p style="margin-top: 15px; color: #fe980f;">Sản phẩm đẹp.<br> Thiết kế sang trọng, tinh tế.<br> Dung lượng lớn đảm bảo nhu cầu của người dùng.<br>
                                Tích hợp nhiều tính năng.<br></p>

                                <form action="" id="add-form"></form>
                                
                            </div>
                            <!--/product-information-->
                        </div>
                    </div>
                    <!--/product-details-->

                    <div class="category-tab shop-details-tab">
                        <!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li><a href="#details" data-toggle="tab">Chi tiết sản phẩm</a></li>
                                <li class="active"><a href="#reviews" data-toggle="tab">Đánh giá </a></li>
                            </ul>
                        </div>

                    </div>
                    <!--/category-tab-->

                    <div class="recommended_items">
                        <!--recommended_items-->
                        <h2 class="title text-center">Sản phẩm tương tự</h2>

                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <% for (let i=0;i<sameProducts.length;i+=3){ 
                                    if (i===0){ %>
                                        <div class="item active text-center">
                                    <%}else{ %>
                                        <div class="item">
                                    <% } %>                                    
                                        <% for (let j=i;j<i+3;j++){ 
                                            product=sameProducts[j];
                                            if (product){ %>
                                                <div class="col-sm-4">
                                                    <div class="product-image-wrapper">
                                                        <div class="single-products">
                                                            <div class="productinfo text-center">
                                                                <a href="/<%- product.slug %>"><img src="<%- product.img[0]%>.jpg" alt="" /></a>
                                                                <h2 style="margin-top: 15px;"><%- product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %> <sup>đ</sup></h2>
                                                                <p><%- product.name %>-<%- product.color %>-<%- product.storage %></p>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                            
                                        <% }} %>
                                    </div>
                                    
                                <% } %>                             
                              
                            </div>
                            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!--/recommended_items-->

                </div>
            </div>
        </div>
    </section>


    <%- include("partials/footer") %>
    <script src="/js/product-detail.js"></script>
