    <%- include("partials/header") %>

    <section>
        <div class="container">
            <div class="row">

            
                <div class="col-sm-12 left-sidebar">
                    <div class="product-details">
                        <!--product-details-->
                        <div class="col-sm-4">
                            <div class="view-product">
                                <img src="<%- product.img[0] %>.jpg" alt=""  />
                                
                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active text-center">
                                        <a href=""><img src="<%- product.img[0] %>.jpg" alt="" style="width: 50%;" ></a>                                       
                                    </div>
                                    <div class="item text-center">
                                        <a href=""><img src="<%- product.img[1] %>.jpg" alt="" style="width: 50%;" ></a>
                                    </div>
                                    <div class="item text-center">                                      
                                        <a href=""><img src="<%- product.img[2] %>.jpg" alt="" style="width: 50%;" ></a>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left item-control" href="#similar-product" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="product-information">
                                <!--/product-information-->
                                
                                <h2><%- product.name %>-<%- product.color %>-<%- product.storage %></h2>
                                <div class="product-price" style="font-weight: bold;">
                                    <span>Giá: </span>
                                    <span>
                                        <%- product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")  %> <sup>đ</sup>
                                    </span>
                                </div>                                
                                <span style="display: inline-block;">
                                    <span> <img src="img/product-details/rating.png" alt="" /></span>
                                    <span>| <%- product.review_count %> Đánh giá</span>
                                </span>
                                <% if (user.role_id===0|| !user.role_id){ %>
                                <div>
                                    <button type="button" class="btn btn-fefault cart add-btn" data-id='<%- product._id %>'>
										<i class="fa fa-shopping-cart"></i>
										Thêm vào giỏ hàng
								    </button>
                                </div>
                                <%} %>
                                <p style="margin-top: 15px; color: #fe980f;">Sản phẩm đẹp.<br> Thiết kế sang trọng, tinh tế.<br> Dung lượng lớn đảm bảo nhu cầu của người dùng.<br>
                                Tích hợp nhiều tính năng.<br></p>

                                <form action="" id="add-form"></form>
                                
                            </div>
                            <!--/product-information-->
                        </div>
                    </div>
                    <!--/product-details-->

                    <div class="review" style="margin-bottom: 20px;">
                        <div class="container">
                            <div class="row">
                                <div class="<% if ((user.products&&user.products.includes(product._id))&&!!!reviews.find(review=>review.user_id._id.toString()===user._id.toString())){ %>
                                    col-sm-8 
                                <%} else {%>
                                    col-sm-12
                                <%}%>
                                    review_general">
                                    <h2 class="title">NHẬN XÉT</h2>
                                    
                                    <% if (reviews.length){
                                        reviews.forEach(review=>{ %>
                                            <div class="review_item" style="margin-left: 30px;margin-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #ccc;">
                                                <div class="user">
                                                    <i class="fa fa-user" aria-hidden="true" style="font-size: 25px !important;"></i>
                                                    <% if (user._id&&(review.user_id._id.toString()===user._id.toString())){%>
                                                        <span style="color: #0b0443;font-size: 20px;font-weight: bold;">Bạn</span>
                                                    <%} else{%>
                                                        <span style="color: #0b0443;font-size: 20px;font-weight: bold;"><%- review.user_id.full_name %></span>
                                                    <%}%>
                                                   
                                                    <p>
                                                        <span class="star_rate me-3 d-flex mt-1" style="margin-left: 25px;font-size: 15px;">
                                                            <% for (let i=0;i<5 ;i++){
                                                                if (i<review.star){  %>                                                                   
                                                                    <i class=" fa fa-star co-or" aria-hidden="true" style="color: #eb8a2f;" ></i>
                                                                <%} else {%>
                                                                    <i class=" fa fa-star co-or" aria-hidden="true" style="color: #333;"></i>
                                                                <%}
                                                            }%>
                                                          </span>
                                                    </p>
                                                    
                                                </div>
                                                <div class="content" style="margin-top: 10px; margin-left: 20px;">
                                                    <%- review.content %>
                                                </div>
                                            </div>
                                        <%})
                                    } %>
                                </div>
                                <% if ((user.products&&user.products.includes(product._id))&&!!!reviews.find(review=>review.user_id._id.toString()===user._id.toString())){ %>
                                    <div class="col-sm-4">
                                        <h2 class="title">ĐÁNH GIÁ SẢN PHẨM</h2>
                                        <input type="hidden" name="rating" id="rating_star" course_id="" value='0'>
                                        <div class="title d-flex align-items-flex-start" style="margin-bottom: 10px;">
                                          <span class="star_rate me-3 d-flex mt-1">
                                            <i class="review fa fa-star co-or" aria-hidden="true" onclick="star(1)"></i>
                                            <i class="review fa fa-star co-or" aria-hidden="true" onclick="star(2)"></i>
                                            <i class="review fa fa-star co-or" aria-hidden="true" onclick="star(3)"></i>
                                            <i class="review fa fa-star co-or" aria-hidden="true" onclick="star(4)"></i>
                                            <i class="review fa fa-star co-or" aria-hidden="true" onclick="star(5)"></i>
                                          </span>
                                          
                                        </div>
                                        <textarea class='comment_review p-3 mb-3' name="comment_review" id="review" rows="4"
                                          placeholder="Nhập nội dung đánh giá"></textarea>                                        
                                        <button class='btn-send-review rate' style="margin-top: 10px;" data="<%- product._id %>"> Gửi đánh giá</button>
                                      </div>
                                <%}%>

                                                             
                                
                            </div>
                        </div>

                    </div>
                    <!--/category-tab-->

                    <div class="recommended_items">
                        <!--recommended_items-->
                        <h2 class="title text-center">Sản phẩm tương tự</h2>

                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <% for (let i=0;i<sameProducts.length;i+=3){ 
                                    if (i===0){ %>
                                        <div class="item active text-center">
                                    <%}else{ %>
                                        <div class="item">
                                    <% } %>                                    
                                        <% for (let j=i;j<i+3;j++){ 
                                            product=sameProducts[j];
                                            if (product){ %>
                                                <div class="col-sm-4">
                                                    <div class="product-image-wrapper">
                                                        <div class="single-products">
                                                            <div class="productinfo text-center">
                                                                <a href="/<%- product.slug %>"><img src="<%- product.img[0]%>.jpg" alt="" /></a>
                                                                <h2 style="margin-top: 15px;"><%- product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %> <sup>đ</sup></h2>
                                                                <p><%- product.name %>-<%- product.color %>-<%- product.storage %></p>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                            
                                        <% }} %>
                                    </div>
                                    
                                <% } %>                             
                              
                            </div>
                            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!--/recommended_items-->

                </div>
            </div>
        </div>
    </section>


    <%- include("partials/footer") %>
    <script src="/js/product-detail.js"></script>
    <script>
        const starsElement = document.querySelectorAll('.review.fa-star');
        const rateBtn = document.querySelector('button.rate');
        const reviewInput = document.querySelector('#review');

        function star(currentRating){
            for (i = currentRating; i > 0; i--) {
                starsElement[i - 1].style.color = '#eb8a2f';
            }
            for (j = currentRating; j < 5; j++) {
             starsElement[j].style.color = '#333';
            }
            rateBtn.onclick= async ()=>{
                const productId=rateBtn.getAttribute("data");
                const init = {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ rate: currentRating, review: reviewInput.value }),
                };
                if (!reviewInput.value) {
                    window.alert('Xin vui lòng nhập nội dung đánh giá');
                } else {
                    const res= await fetch(`/review/${productId}`,init);
                    const data=await res.json();
                    location.reload();
                }
        }
        }
        


    </script>
