    <%- include("partials/header") %>
    <div class="container padding-top-120">
      <div class="col-sm-12 padding-right">
        <div class="features_items">
          <!--features_items-->
          <% if (!products.length){ %>
            <h3 class="title text-center" style="margin-top: 20px; margin-bottom: 200px;" >Không có kết quả tìm kiếm phù hợp! </h3>
            
          <% }else { %>
            <h2 class="title text-center" style="margin-top: 20px; " >Kết quả tìm kiếm</h2>
             
          <%} %>         

          <% products.forEach(product=>{ %>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <a href="/<%- product.slug %>">
                    <img src="<%- product.img[0] %>.jpg" alt="" />
                    <h2><%- product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %> <sup>đ</sup></h2>
                    <p><%- product.name %> - <%- product.color %> - <%- product.storage %>GB</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <%- include("partials/footer") %>
